body {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-image: url(../img/bk_starv3.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

main {
  padding: 36px;
  border-radius: 12px;
  margin: 40px auto;
  text-align: center;
}

.max-w-img {
  max-width: 1000px;
}

.anime {
  display: inline-block;
}

.anime img {
  display: none;
  width: 650px;
  height: 400px;
  margin-bottom: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
#anime_speed {
  transform: rotateY(180deg);
}

.play_btn {
  padding: 10px 20px;
  background-color: rgb(255, 187, 249);
  border-radius: 20px;
  color: white;
}

.speed_btn-text {
  color: white;
}

input[type="range"] {
  cursor: pointer;
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
  background: #9ecbf3;
}

.mt-20 {
  margin-top: 20px;
}
