body {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-image: url(../img/bg_1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

main {
  border-radius: 12px;
  margin: 40px auto;
  text-align: center;
}

.max-w-img {
  max-width: 1000px;
}

.anime {
  display: inline-block;
  height: 480px;
}

.anime img {
  display: none;
  width: 960px;
  height: 520px;
  margin-bottom: 150px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  object-fit: contain;
}

.h1-mt {
  margin-top: 0px;
}

@media screen and (min-width: 1441px) {
  .max-w-img {
    max-width: 700px;
    margin-bottom: 20px;
  }

  .anime img {
    width: 840px;
    height: 455px;
    margin-bottom: 130px;
  }

  .h1-mt {
    margin-top: -40px;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1440px) {
  .max-w-img {
    max-width: 700px;
    margin-bottom: 20px;
  }

  .anime {
    height: 480px;
  }

  .anime img {
    width: 840px;
    height: 455px;
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1179px) {
  .max-w-img {
    max-width: 600px;
    margin-bottom: 20px;
  }

  .anime {
    height: 400px;
  }

  .anime img {
    width: 672px;
    height: 364px;
    margin-bottom: 130px;
  }
}

@media screen and (max-width: 767px) {
  .max-w-img {
    max-width: 400px;
    margin-bottom: 20px;
  }

  .anime {
    height: 300px;
  }

  .anime img {
    width: 480px;
    height: 260px;
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 519px) {
  .max-w-img {
    max-width: 280px;
    margin-bottom: 20px;
  }

  .anime img {
    width: 288px;
    height: 156px;
    margin-bottom: 150px;
  }
}

#anime_speed {
  transform: rotateY(180deg);
}

.play_btn {
  padding: 10px 20px;
  background-color: rgb(255, 187, 249);
  border-radius: 20px;
  color: white;
}

.speed_btn-text {
  color: white;
}

.speed-bar {
  background-color: rgb(215, 215, 215);
  border: solid 1px #dee6f2;
  opacity: 0.8;
  border-radius: 20px;
  height: 12px;
}

input[type="range"] {
  opacity: 0.8;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(101, 144, 245);
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.mt-20 {
  margin-top: 20px;
}
.mt--70 {
  margin-top: -70px;
}
